a {
    cursor: pointer;
}

#top-nav {
    position: fixed;
    height: 100px;  
    background-color: teal;
    display: flex; 
    width: 100%;
}

#side-bar {
    position: fixed;
    width: 200px;
    margin-top: 100px;
    background-color: burlywood
}

#content {
    margin-left: 200px;
    margin-top : 100px;
    padding: 20px;
    background-color: thistle;
    width : 100%
}